<main>
  <div class="item" *ngFor="let item of cart">
    <p><span>Name:</span> {{ item.product }}</p>
    <p><span>Price:</span> {{ item.price }}</p>
    <p><span>Quantity:</span> {{ item.quantity }}</p>
    <i (click)="deleteItem(item.id)" class="fas fa-times-circle"></i>
    <i (click)="setItemToEdit(item)" class="fas fa-edit"></i>
  </div>
</main>

<button (click)="toggleAddForm()">Add an Item</button>

<form
  *ngIf="this.showAddForm"
  #addForm="ngForm"
  (ngSubmit)="addNewItem(addForm)"
>
  <input type="text" name="product" ngModel placeholder="Product" />
  <input type="text" name="price" ngModel placeholder="Price" />
  <input type="text" name="quantity" ngModel placeholder="Quantity" />
  <button>Add</button>
</form>

<form #updateForm="ngForm" (ngSubmit)="updateItem(updateForm)">
  <input type="text" name="quantity" [ngModel]="itemToUpdate.quantity" />
  <button (click)="updateItem()">Update</button>
</form>
