main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.item {
  border: 1px solid rgb(24, 30, 26);
  background: rgb(255, 251, 163);
  text-align: center;
  height: auto;
  width: 300px;
  margin: 10px;
  position: relative;
}

span {
  font-weight: bold;
}

p {
  margin: 20px 0;
}

.fa-times-circle {
  position: absolute;
  top: -3px;
  right: -3px;
}

.fa-edit {
  margin-bottom: 10px;
}

button {
  border: 2px solid rgb(24, 30, 26);
  background: rgb(175, 216, 181);
  padding: 10px;
  margin: 30px;
  font-weight: bold;
}

label {
  position: absolute;
  left: -999999px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px;
  margin: 10px;
  width: 300px;
}

#formAddBtn {
  width: 300px;
}
